<section class="card">
    <!-- Will need to add header with plant name -->
    <header></header>
    <!-- Will need to add link to plant information -->
    <img src="" alt="">
    <button type="button" class="btn btn-success">Water Plant</button>
    <button type="button" class="btn btn-success">Delete Plant</button>
</section>