<h2>My Plants</h2>
    <div class="row justify-content-around">
      <div class="col-6">
        Plant Search
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <input id="user-input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button id="submit-btn"  class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to My List</button>
          </form>
        </nav>
      </div>
      <div class="col-6">
        My Plant List
        <!-- Will have to add links to plants that were added -->
      </div>