html{
    background-color:var(--tertiary);
}
:root{
    --primary: #3d5852;
    --secondary: #86938f;
    --tertiary: #5e877f;
    --quatrinary: #6c6b67;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color:var(--tertiary);
    margin: 0;
    padding: 0;
    background-image: url('/assets/plant_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

a{
    color: var(--dark);
    text-decoration:none
}

a:visited{
    color: var(--quatrinary);
}

header{
    padding: 35px;
    text-align: center;
    background:var(--tertiary);
    color:var(--primary)
}

#text{
  text-align: center;
  width: 100%;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
}

nav{
    display: flex;
    background-color: var(--light);
}

nav a {
    color: var(--secondary);
    padding: 15px 25px ;
    text-decoration: double;
    text-align: center;
}

nav a:hover {
    color: var(--quatrinary);
    background-color: var(--dark);
}


  .card {
    margin: 20px;
    flex: 0 1 300px;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--tertiary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  

  .container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
  }
  

  .login {
    transform: translateX(0);
  }
  
  .home {
    transform: translateX(100%);
  }

  /* added for plant list - CRN */


  .search-results {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    margin-top: 20px;
    
}

.plant-card {
    border: 1px solid #dddddd;
    padding: 10px;
    margin: 10px;
    width: 20%; /* calc(100% / 5 - 20px) Adjust the width as needed, this will fit 5 cards in a row */
    text-align: center;
    border-radius: 10px;
    background-color: tan;
}

.plant-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.plant-card button {
    cursor: pointer;
    padding: 10px;
    font-size: small;
}

.my-plant-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    margin-top: 20px;
}
.my-plant-list img {
  width: 15px; /* Adjust as needed */
  height: 15px; /* Adjust as needed */
  object-fit: cover;
  border-radius: 50%;
}
